<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="form-container">
      <h2>SEJA VOLUNTÁRIO</h2>

      <form action="https://formsubmit.co/neisguilherme@gmail.com" method="POST">
        <ion-item>
          <ion-label position="stacked">Nome:</ion-label>
          <ion-input type="text" name="name" placeholder="Digite seu nome" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Telefone:</ion-label>
          <ion-input type="tel" name="phone" placeholder="Digite seu telefone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">E-mail:</ion-label>
          <ion-input type="email" name="email" placeholder="Digite seu e-mail" required></ion-input>
        </ion-item>

        <ion-button type="submit" shape="round" expand="block" color="secondary">Enviar</ion-button>
        <input type="hidden" name="_subject" value="Novo Contato!">
        <input type="text" name="_honey" style="display: none;">
        <input type="hidden" name="_captcha" value="false">
      </form>
    </div>
  </ion-content>
</ion-content>