<app-header>

</app-header>

<ion-content [fullscreen]="true">
  @if (pet) {
  <div class="container">
    <img alt="pet" src={{pet.img}} />
    <div class="pet-name">{{pet.nome}}</div>
    <div class="caracteristicas-container">
      <p class="caracteristicas-title">
        Características
      </p>
      <div class="caracteristicas-list">
        <div class="caracteristicas-column">
          <div>
            <h2>Idade</h2>
            <p>{{pet.idade}}</p>
          </div>
          <div>
            <h2>Pelagem</h2>
            <p>{{pet.pelagem}}</p>
          </div>
          <div>
            <h2>Temperamento</h2>
            <p>{{pet.temperamento}}</p>
          </div>
        </div>
        <div class="caracteristicas-column">
          <div>
            <h2>Raça</h2>
            <p>{{pet.raca}}</p>
          </div>
          <div>
            <h2>Vacinas</h2>
            @if (pet.vacinas) {
            <p>Completas</p>
            }@else {
            <p>Incompletas</p>
            }

          </div>
          <div>
            <h2>Porte</h2>
            <p>{{pet.porte}}</p>
          </div>
        </div>
      </div>
      <div class="caracteristicas-description">
        <h2>Decrição</h2>
        <p>{{pet.descricao}}</p>
      </div>
    </div>
    <ion-button [href]="'https://wa.me/5551998796557?text=Estou%20interessado(a)%20em%20adotar%20o(a)%20'+pet.nome"
      target="_blank" shape="round" color="secondary" strong="true">
      ENTRAR EM CONTATO
      <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
    </ion-button>
    <div class="localizacao-pet">
      <ion-icon name="location-outline" size="large"></ion-icon>
      <p>{{pet.endereco}}</p>
    </div>
  </div>
  }
</ion-content>