<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastrar Animal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">


    <!-- Formulario para cadastro -->
    <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
      <h2><strong class="capitalize">Cadastrar Animal</strong></h2>

      <div class="mold">
        <input type="file" (change)="handleFileInput($event)">
        <img width="80%" *ngIf="imageUrl" [src]="imageUrl" />
      </div>

      <div class="text-fields">
        <h2 class="text-center">Nome</h2>
        <input type="text" id="nome" name="nome" placeholder="Nome do animal" formControlName="nome" required>

        <h2 class="text-center">Características</h2>
        <ul>
          <li>
            <label for="idade">Idade:</label>
            <input type="text" id="idade" name="idade" formControlName="idade" required>
          </li>
          <li>
            <label for="raca">Raça:</label>
            <input type="text" id="raca" name="raca" formControlName="raca" required>
          </li>
          <li>
            <label for="pelagem">Pelagem:</label>
            <input type="text" id="pelagem" name="pelagem" formControlName="pelagem" required>
          </li>
          <li>
            <label for="vacinas">Vacinas:</label>
            <ion-select aria-label="Vacinas" [value]="true" formControlName="vacinas" required>
              <ion-select-option [value]="true">Completas</ion-select-option>
              <ion-select-option [value]="false">Incompletas</ion-select-option>
            </ion-select>
          </li>
          <li>
            <label for="temperamento">Temperamento:</label>
            <input type="text" id="temperamento" name="temperamento" formControlName="temperamento" required>
          </li>
          <li>
            <label for="porte">Porte:</label>
            <ion-select aria-label="Porte" value="M" formControlName="porte" required>
              <ion-select-option value="G">G</ion-select-option>
              <ion-select-option value="M">M</ion-select-option>
              <ion-select-option value="P">P</ion-select-option>
              <ion-select-option value="PP">PP</ion-select-option>
            </ion-select>
          </li>
          <li>
            <label for="descriçao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" formControlName="descricao" required>
          </li>
          <li>
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" formControlName="endereco" required>
          </li>

        </ul>
        @if (errorMessage){
        <ion-text color="danger">
          {{ errorMessage }}
        </ion-text>
        }

        <ion-button type="submit" color="secondary" [disabled]="isLoading">Publicar</ion-button>
      </div>
    </form>
  </div>
</ion-content>