<app-header>
</app-header>

<ion-content [fullscreen]="true">
  <h1 class="l">Login</h1>

  <div class="container">
    <ion-input label="Usuario" labelPlacement="floating" fill="solid" placeholder=""></ion-input>
    <br />
    <ion-input type="password" label="Senha" label-placement="floating" fill="solid">
      
    </ion-input>
    <!-- <ion-input label="Senha" label-placement="floating" fill="outline" placeholder=""></ion-input> -->
    <ion-button class="btn-login">OK</ion-button>
  </div>
</ion-content>